Python virtual environment

/Back-End/venv/

Byte-compiled / optimized / DLL files

pycache/ *.py[cod] *$py.class

Distribution / packaging

.Python build/ dist/ *.egg-info/ *.egg

IDEs and editors

.vscode/ .idea/ *.sublime-project *.sublime-workspace

System files

.DS_Store Thumbs.db

Logs

*.log