fastapi
uvicorn
deep-translator
python-multipart
langdetect
pydantic_settings
python-docx
python-pptx
PyPDF2
reportlab
sqlalchemy
psycopg[binary]
alembic
python-dotenv
reportlab
python-jose[cryptography]
passlib[bcrypt]
email-validator
authlib
google-auth
httpx
itsdangerous
